.participants {
    display: grid;
    grid-template-columns: repeat(var(--grid-size),1fr);
    grid-gap: 20px;
    height: 87vh;
    padding: 10px;
}
@media (max-width: 800px) {
    .participants {
        grid-template-columns: repeat(var(--grid-col-size), 1fr);
        grid-template-rows: repeat(var(--grid-row-size), 1fr);
    }
}