.wrapper {
    width: 100%;
    position: relative;

}

.mainScreen {
    width: 90%;
    height: 95vh;
    background-color:#121212;
}


.roomList {
    top: 0px;
    right: 0px;
    width: 10%;
    height: 100%;
    float: right;
    position: absolute;
    background: rgb(45,44,44);
    background: linear-gradient(82deg, rgba(45,44,44,1) 100%, rgba(11,13,13,1) 100%);
    border-left: solid black;
    border-width: thin
}

.toolbar {
    width: 90%;
    height: 5vh;

}
