.group_call_button {
    width: 100px;
    box-shadow: 2px 2px 7px #38d39f70;
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);

}

.group_call_button:hover {
    opacity: 0.5;
    color: rgb(255, 255, 255);
    box-shadow: none;
}