.toolbar_items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202124;

}

.toolbar_icon {
    color:white;
    background-color: rgb(60,64,67);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px;

}

.disconnect {
    background-color: red;
}

.disable {
    background-color: red;
}
.toolbar_icon:hover {
    opacity: 0.75;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);

}