.mainPage{
    display: flex;
    justify-content: center;
    background-color: aliceblue;


}

.joinRoom {
    width: 700px;
    height: 300px;
    display: flex;
    border-radius: 25px;

    }

.left {
    width: 25%;
    background-color: #2E6BD4;

}

.right {
    background-color: white;
    width: 75%;


}

.joinForm form {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-content: center;

}
